@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    width: 100%;
    display: grid;
    grid-template-rows: 150px 1fr 300px;
}
/* ------------------------ header ------------------------- */
header{
    display: grid;
    grid-template-rows: 1fr 25px;
    align-items: center;
}
.header-row1 {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
}

.logo{
    width: 40px;
}

.logo-text {
    margin-top: -10px;
    margin-left: -150px; 
    line-height: 0;
}
.logo-text h1 {
    font-family: 'Dancing Script', cursive;
}

.header-row1 nav{
    width: 100%;
    text-align: right;
}
header nav ul li{
display: inline-block;
}
.hrheader {
    border: 0;
    height: 20px;
    background-color: darkgrey;
}
/* ------------------ end of header ------------------------------- */

/* -------------------- Main -------------------------------------- */

main {
    width: 100%;
    display: grid;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: 50px 1fr 10% 1fr;
    gap: 20px;
}

.header-main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 20px 40px;
}
.posted-date {
    line-height: 0;
}
.posted-date h5 {
    color: darkgrey;
}

.header-main img {
    padding: 20px 0;
    width: 100%;
}
.header-main p {
    padding: 20px 0;
    margin-top: -3px;
}
.hero-image img{
    width: 100%;
}

.p-main p {
    width: 100%;
    text-indent: 20px;
}

.ingredients {
    width: 100%;
    position: relative;
}
.ingredients img {
    width: 100%;
}
.form-art {
    width: 100%;
    display: grid;
    grid-column: 1fr 1fr;
}
.ingredients-left {
    position: absolute;
    top: 80px;
    left: 20%;
}
.ingredients-right {
    position: absolute;
    top: 80px;
    right: 20%;
}
input, label {
    margin: 15px 0;
}
input:checked + label {
    color:black;
    text-decoration: line-through;
  }

  /* ------------------ end of main ------------------------------- */
  /* ------------------ footer ------------------------------- */

  footer {
      display: grid;
      grid-auto-rows: 25px 1fr 1fr;
  }
.hrfooter {
    border: 0;
    height: 20px;
    background-color: darkgrey;
}
.profile {
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    gap: 15px;
}
.profile img {
    width: 100%;
}
.about-her p {
    color: cadetblue;
}

.profile button {
    height: 70%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: orangered;
}
.separator {
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.line1 {
    height: 1px;
    flex: 1;
    background-color: #999;
    /* margin-left: 200px; */
    margin-bottom: 50px;
  }
  .separator .line2 {
  height: 1px;
  flex: 1;
  background-color: #999;
  /* margin-right: 200px; */
  margin-bottom: 50px;
  }

  .separator img {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .end-of-footer {
      text-align: center;
      line-height: 3px;
  }